body{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
    background-size: 1500px;
    background-position: center;
    
}

h1{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

h5{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

