<!DOCTYPE html>
<html lang="es">
    <head>

        <!--Propio de HTML-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Archivos CSS-->
        <link rel="stylesheet" href="estilos.css">
        <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="jquery-toast/jquery.toast.min.css">
        <!--Archivos JS-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
        <script src="apps-js/jquery-3.6.1.min.js"></script>
        <script src="apps-js/moment.min.js"></script>
        <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
        <script src="jquery-toast/jquery.toast.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="main.js"></script>
       
        <title>Calculador de Cuotas</title>
 
    </head>

    <body>
        <div id="divGeneral">

            <h1>Calculador de Cuotas</h1>
            <h5>Instituto Charles Babbage</h3>
            <!--Formulario general de datos-->
            <form >

                <div class="anioCurso">
                    <label for="anio">Introduzca el año que cursa</label>
                    <select required class="form-select" name="anio" v-model=" anio" id="anio">
                        <option :value="item.value" v-for="item in meses">
                            
                        </option>
                    </select>
                </div>

                <div class="mesCurso">
                    <label for="mes">Mes que desea abonar</label>
                    <select required class="form-select" name="mes" v-model="mes">
                        <option :value="item.value" v-for="item in meses">
                            
                        </option>
                    </select>
                </div>

                <div class="fechaCurso">
                    <label for="fecha">Fecha que abona</label> 
                    <input required class="form-control" type="date" v-model="fecha"  name="fecha"
                    :min="fechaMin" max="">
                </div>

                <div class="total">
                    <label for="total">Total</label>
                    <input disabled class="form-control" type="number" v-model="total" name="total">
                </div>

                <br>

                <div class="botonTotal">
                    <button class="bcctn btn-suess" type="button" @click="calcular">Calcular el total</button>
                </div>

            </form>

        </div>

        <script>
            app.mount("#divGeneral");
        </script>

    </body>


</html>